<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882839078564-uvhie5odhtrth7u4udsv0r0g4d623n46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882839078564-uvhie5odhtrth7u4udsv0r0g4d623n46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882839078564-0qtiiao49a3dc0aulihd70vg7p8838tg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuPNQzBrLM9mbzp0CJdbmMD_Xm269VjNo</string>
	<key>GCM_SENDER_ID</key>
	<string>882839078564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merchant.prosperityprimeglobal</string>
	<key>PROJECT_ID</key>
	<string>potent-bulwark-434423-t6</string>
	<key>STORAGE_BUCKET</key>
	<string>potent-bulwark-434423-t6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882839078564:ios:caf804b3d86dd29b04c831</string>
	<key>DATABASE_URL</key>
	<string>https://potent-bulwark-434423-t6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>